body {
    position: relative;
    margin: 0;
    font-family: 'Manrope';

    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    overflow-x: hidden;
    background-color: #1f1f1f;
}

body.overflow {
    overflow-y: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    font-size: 34px;
    color: #0a8f9e;
    margin-top: 100px;
    margin-bottom: 40px;
}

button {
    transition: all .15s linear;
}

.h2__cont {
    display: flex;
    justify-content: center;
}

.h3__cont {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 10px;
}

/******************* Page *********************/
.page {
    overflow: hidden;
}

/****************** Header *******************/
.header {
    background-color: transparent;
    width: 100%;
    padding: 15px 0;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
}

.header.fixed {
    padding: 15px 0;

    background-color: #1f1f1f;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: grey;
}

/********************* Sidebar | WhatsApp *******************/

.sidebar {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 9999;
}

.sidebar img {
    width: 60px;
    border-radius: 50%;
    box-shadow: 10px rgba(0, 0, 0, 0.2);
    transition: .3s;
    display: block;
}

.sidebar :hover {
    transform: scale(1.15);
}




/********************* Nav *******************/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 40px;
    position: relative;

    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #0a8f9e;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #0a8f9e;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #0a8f9e;
}


/***************** Nav toggle ***************/
.nav-toggle {
    width: 30px;
    padding: 10px 0;
    display: none;

    font-size: 0;
    color: #0a8f9e;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
}

.nav-toggle:focus {
    outline: 0;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #0a8f9e;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #0a8f9e;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;
}

.nav-toggle__item:before {
    top: -8px;
}

.nav-toggle__item:after {
    bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(42deg) translate3d(0px, -2px, 0)
}

.nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
}

#first::before {
    content: "";
    display: block;
    height: 100%;
    width: 2px;
    position: absolute;
    top: 0;
    left:  65px;
    background-color: #fff;
    z-index: 10000;
} 



/***************** Intro *****************/


.intro {
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: 750px;
    position: relative;
    justify-content: center;
    align-items: center;

}

.intro img{
    width: auto;
    height: 45vw;
}


/***************** Services *****************/

.arrow{
    display: flex;
    justify-content: center;
}

.arrow img {
    width: 110px;
}

.services__cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services__list {
    display: flex;
}

.services__item {
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    width: 360px;
    height: 250px;
}

.services__item img {
    transition: .3s;
    display: block;
    width: 360px;
    height: 250px;
}

.services__item img:hover {
    transform: scale(1.1);
}

.service__item {
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    width: 360px;
    height: 250px;
}

.service__item img {
    transition: .3s;
    display: block;
    width: 360px;
    height: 250px;
}

.service__item img:hover {
    transform: scale(1.1);
}


/***************** VIP Services ***************/

.vip__services {
    position: relative;
}

.arrow_1_img {
    margin-top: 100px;
}

.arrow_1_img img {
    width: 90px;
    z-index: 10000;
}

.arrow_1_img::before {
    content: "";
    display: block;
    width: 80%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    top: 4%;
    left: 10.5%;
    z-index: 1000;
}

.vip__services__list {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.vip__services__item{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px;
    width: 260px;
    height: 250px;
}

.vip__services__item img{
    position: relative;
    width: 260px;
    height: 250px;
    opacity: 0.7;
}

.services__card__text {
    color: #fff;
    font-size: 28px;
    position: absolute;
    text-align: center;
}

.vip__services__text {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 24px;
    color: #fff;

}

.vip__services__book {
    margin-left: 110px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.vip__services__button {
    cursor: pointer;
    width: 250px;
    font-size: 19px;
    color: #fff;
    background-color: #1f1f1f;
    padding: 20px 40px;
    border: 3px solid #0a8f9e;
    border-radius: 20px;
}

.vip__services__button:hover {
    background-color: #000;
}

.vip__services__book img {
    margin-left: 40px;
    height: 70px;
    transform: rotate(90deg);
}

/***************** Contacts ***************/

.contact__mainform {
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.contact__img {
    width: 50%;
}

.contact__img img {
    width: 100%;
}

.contact__form {
    width: 49%;
}

.input__list textarea {
    font-size: 17px;
    font-family: manrope;
    width: 100%;
    padding: 20px;
    padding-left: 5px;
    margin: 15px;
    margin-left: 25px;
    background-color: #1f1f1f;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    resize: none;
}

#textarea__1 {
    margin-top: 0;
}

.mainform__send {
    cursor: pointer;
    margin-top: 15px;
    margin-left: 25px;
    width: 250px;
    height: 65px;
    padding: 15px;
    font-size: 24px;
    border-radius: 20px;
    background-color: #1f1f1f;
    color: #fff;
    border: 3px solid #0a8f9e;
}

.mainform__send:hover {
    background-color: #000;
}

/* Gallary */

.gallary {
    margin-top: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column;

}

.gallary__list {
    display: flex;
    flex-direction: row;

}

.gallary__list img {
    object-fit: cover;
    width: calc(100vw / 4);
    height: calc(((100vw / 4) / 3) * 2);
}

/* Footer */

.footer {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.footer__part {
    width: 47%;
}

.footer__part img {
    width: 60%;
}

#logo__part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo__part img {
    object-fit: cover;
}

.subscribe__form {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.form__line {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subsribe__text {
    margin: 20px 0;
    font-size: 28px;
}

.form__line textarea {
    font-size: 17px;
    font-family: manrope;
    width: 45%;
    padding: 20px;
    padding-left: 5px;
    margin: 15px;
    margin-left: 25px;
    background-color: #1f1f1f;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    resize: none;
}

.subscribe__button {
    cursor: pointer;
    width: 200px;
    height: 65px;
    font-size: 19px;
    color: #fff;
    background-color: #1f1f1f;
    padding: 20px 40px;
    border: 3px solid #0a8f9e;
    border-radius: 20px;
}

.subscribe__button:hover {
    background-color: #000;
}

#contact__part {
    padding-top:70px;
    display: flex;
    flex-direction: column;
}

.contact__links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    font-size: 18px;
    flex-wrap: wrap;
}

.contact__links p{
    margin: 0;
    margin-top: 10px;
}

.contact__links img {
    width: 70px;
    border-radius: 50%;
}

.contact__links a {
    text-decoration: none;
}

.contact__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 105px;
    margin-top: 10px;
}


.contact__link {
    transition: .2s;
}

.contact__link:hover {
    transform: scale(1.1);
}

.copyright {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 30px;

}

/***************** MEDIA *******************/

.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
    z-index: 9999999;
    overflow-y: scroll;
}

.modal {
	background-color: #1f1f1f;
	width: 560px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
    z-index: 9999999;
}

.modal_intro img {
    width: 560px;
}

.modal-overlay--visible {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}

.modal--visible {
	display: block;
}

.modal_content {
    background-color: #1f1f1f;
    padding: 40px;
}

.modal_title {
    text-align: center;
    font-size: 28px;
    color: #0a8f9e;
}

.modal_suptitle {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 26px;
    color: #0a8f9e;
}

.modal_text {
    color: fff;
    font-size: 20px;
    font-family: manrope, Arial, sans-serif;
}

.modal_btn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.modal_btn button {
    cursor: pointer;
    padding: 10px 30px;
    font-family: manrope;
    color: #fff;
    background-color: #1f1f1f;
    border-radius: 20px;
    border: 2px solid #0a8f9e;
    font-size: 17px;
}

.modal_btn button:hover {
    background-color: #000;
}

.modal_close {
    position: fixed;
    top: 1%;
    right: 3%;

    cursor: pointer;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}

.modal_close:hover {
    color: rgb(163, 163, 163);
    top: 0.5%;
}


/***************** Modal Forms *******************/

.enquiry__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.enquiry__form textarea {
    font-size: 17px;
    font-family: manrope;
    width: 100%;
    padding: 20px;
    padding-left: 5px;
    margin: 15px;
    background-color: #1f1f1f;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    resize: none;
}

.enquiry__form p {
    font-size: 20px;
    
}

.enquiry__send {
    cursor: pointer;
    margin-top: 25px;
    width: 250px;
    height: 65px;
    padding: 15px;
    font-size: 24px;
    border-radius: 20px;
    background-color: #1f1f1f;
    color: #fff;
    border: 3px solid #0a8f9e;
}

.enquiry__send:hover {
    background-color: #000;
}

.enquiry__checkbox {
    font-size: 17px;
}

.upload__btn button {
    border: 2px solid #0a8f9e;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    background-color: #1f1f1f;
}

.upload__btn button:hover {
    background-color: #000;
}

.upload__btn p {
    font-size: 17px;
}

.enquiry__send__container {
    display: flex;
    justify-content: center;
}


































/***************** MEDIA *******************/







@media (max-width: 1230px) {

    /* Service */



    .services__cont {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .services__list {
        display: block;
    }

    /* VIP Service */

    .vip__services__list {
        display: flex;
        flex-flow: column wrap;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

}



@media (max-width: 1020px) {

    /* Nav */

    .nav {
        display: none;
        width: 100%;

        position: absolute;
        top: 0%;
        left: 0;

        background-color:#1f1f1f;
        opacity: 98%;
    }

    .nav.active {
        display: block;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }

    .nav-toggle {
        display: block;

    }

    .header.fixed {
        background-color: transparent;
        box-shadow: none;
    }

    .intro img{
        width: auto;
        height: 70vw;
    }

    .contact__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 8px 0;
        padding-top: 15px;
        width: 130px;
    }


}

@media (max-width: 770px) {

    
    .contact__mainform {
        margin: auto;
        width: 75%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        align-items: center;
    }

    .input__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input__list textarea {
        margin-left: 0;
        margin-right: 0;
    }

    .mainform__send {
        margin-left: 0;
    }

    .contact__form {
        width: 100%;
    }
    .contact__img {
        width: 100%;
    }

    /* footer */

    .footer {
        height: auto;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 100px;
    }

    .footer__part {
        width: 80%;
    }

    .arrow_1_img::before {
        top: 3%;
    }

    #logo__part {
        margin-top: 50px;
    }

}


@media (max-width: 575px) {

    .sidebar img {
        width: 50px;
    }

    .vip__services__book {
        margin-left: 20px;
        margin-right: 20px;
    }

    .form__line {
        flex-direction: column;
    }

    .subscribe__form button {
        width: 100%;
        margin-top: 20px;
    }

    .subscribe__form textarea {
        width: 100%;
    }

    .subsribe__text {
        margin-bottom: 0;
    }

    .vip__services__book img {
        display: none;
    }

    .vip__services__button {
        height: auto;
    }

    .contact__links {
        justify-content: space-between;
    }
    

    
    .modal {
        width: 100vw;
    }

    .modal_intro img {
        width: 100vw;
    }

    .modal_close {
        position: fixed;
        top: 0;
        right: 5%;
        z-index: 99999999999;
    
    }

    .arrow_1_img::before {
        top: 2%;
    }

}


@media (max-width: 400px) {

    .services__item img {
        width: 260px;
        height: 150px;
    }

    .services__item {
        width: auto;
        height: auto;
    }

    
}
